* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
.Typewriter {
  padding: 1px;
  color: #1c1b1f;
  font-family: "Inter";
  font-weight: 700;
}
@media screen and (min-width: 1300px) {
  .Typewriter {
    font-size: 54px !important;
  }
}
@media screen and (max-width: 1299px) {
  .Typewriter {
    font-size: 42px;
  }
}
@media screen and (max-width: 1199px) {
  .Typewriter {
    font-size: 38px;
  }
}
@media screen and (max-width: 899px) {
  .Typewriter {
    font-size: 42px;
  }
}
@media screen and (max-width: 599px) {
  .Typewriter {
    font-size: 34px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.marq-right {
  color: rgb(28, 27, 31);
  opacity: 0.08;
  transform: rotate(90deg);
  position: absolute !important;
  transform-origin: 100% 75%;
  top: unset;
  right: 42px;
  width: 695px !important;
  z-index: 0;
  bottom: 55px;
}
.marq-left {
  color: rgb(28, 27, 31);
  opacity: 0.08;
  transform: rotate(-90deg);
  position: absolute !important;
  transform-origin: 0 0;
  left: 0px;
  bottom: 10px;
  width: 695px !important;
  z-index: 0;
}
@media screen and (min-width: 1600px) {
  .marq-left {
    bottom: 31px;
  }
  .marq-right {
    bottom: 64px;
  }
}
@media screen and (min-width: 1400px) {
  .marq-left {
    width: 698px !important;
  }
  .marq-right {
    width: 698px !important;
  }
}
@media screen and (max-width: 1210px) {
  .marq-left {
    bottom: 8px;
    width: 823px !important;
  }
  .marq-right {
    transform-origin: 100% 88%;
    right: 43px;
    width: 821px !important;
    bottom: 64px;
  }
}
@media screen and (max-width: 1100px) {
  .marq-left {
    bottom: 3px;
    width: 959px !important;
  }
  .marq-right {
    width: 959px !important;
  }
}

@media screen and (max-width: 850px) {
  .marq-left {
    bottom: 2px;
    width: 1075px !important;
  }
  .marq-right {
    right: 45px;
    width: 1075px !important;
    bottom: 56px;
  }
}

@media screen and (max-width: 600px) {
  .marq-right {
    right: 47px;
    width: 1047px !important;
    bottom: 45px;
  }
  .marq-left {
    bottom: 8px;
    width: 1035px !important;
    left: 2px;
  }
}

@media screen and (max-width: 425px) {
  .marq-left {
    bottom: 15px;
    width: 1170px !important;
  }
  .marq-right {
    width: 1170px !important;
    bottom: 57px;
    right: 33px;
  }
}

@media screen and (max-width: 360px) {
  .marq-left {
    bottom: 11px;
    width: 1256px !important;
  }
  .marq-right {
    width: 1255px !important;
    bottom: 50px;
    right: 32px;
  }
  .marquee {
    min-width: unset;
  }
}
.demo {
  display: none;
}
.active .demo {
  display: block;
  position: absolute;
  right: 104px;
  padding: 3px 0 0;
}
@media screen and (max-width: 900px) {
  .active .demo {
    right: 31px;
  }
}
.hs5-ib-slider-box {
  display: flex;
  align-items: flex-start;
  z-index: 4;
  position: relative;
  padding: 60px 20px 50px 20px;
}
.scrollFaq {
  display: flex;
}
@media (min-width: 1600px) {
  .hs5-ib-slider-box {
    padding: 60px 44px 68px 37px;
  }
  .hs5-ib-slider-box .hs5-ib-slider-box-left .hs5-ib-sbr-img {
    width: 56% !important;
  }
}
@media (max-width: 1440px) {
  .hs5-ib-slider-box .hs5-ib-slider-box-left .hs5-ib-sbr-img {
    width: 39% !important ;
  }
}
@media (min-width: 1400px) {
  .hs5-ib-slider-box {
    padding-right: 164px;
  }
}
@media (max-width: 991px) {
  .hs5-ib-slider-box {
    flex-direction: column;
    width: 80%;
    height: auto;
    padding: 60px 30px 60px 60px;
  }
}
@media (max-width: 767px) {
  .hs5-ib-slider-box {
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 30px 10px 30px 10px;
  }
  .hs5-ib-slider-box.hs5ibsb-brand-mv {
    height: auto;
  }
  .hs5-ib-slider-box.hs5ibsb-creator-mv {
    height: auto;
  }
}
.hs5-ib-slider-box .hs5-ib-slider-box-left {
  width: 61%;
  height: 50vh;
  position: -webkit-sticky;
  position: sticky;
  top: 125px;
  margin-top: 0px;
  margin-bottom: 0;
  padding-left: 0;
}
@media (min-width: 1400px) {
  .hs5-ib-slider-box .hs5-ib-slider-box-left {
    height: 75vh;
    top: 130px;
  }
}
@media (min-width: 1600px) {
  .hs5-ib-slider-box .hs5-ib-slider-box-left {
    height: 80vh;
    top: 116px;
  }
}
.hs5-ib-slider-box .hs5-ib-slider-box-left .circle-count {
  width: 50px;
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  background-color: rgb(249, 246, 242);
}
.hs5-ib-slider-box .hs5-ib-slider-box-left div.is-current {
  opacity: 1;
  color: #fff;
}

.hs5-ib-slider-box .hs5-ib-slider-box-left div {
  color: #f9f6f2;
  opacity: 0.6;
  font-weight: 600 !important;
}
@media (max-width: 1440px) {
  .hs5-ib-slider-box .hs5-ib-slider-box-left div {
    margin-bottom: 40px;
  }
}
@media (max-width: 1199px) {
  .hs5-ib-slider-box .hs5-ib-slider-box-left div {
    font-size: 30px !important;
  }
}
@media (min-width: 1600px) {
  .hs5-ib-slider-box .hs5-ib-slider-box-left div.MuiBox-root {
    margin-top: 85px !important;
  }
}
@media (min-width: 1600px) {
  .hs5-ib-slider-box .hs5-ib-slider-box-left div {
    margin-bottom: 0px;
  }
}
@media (min-width: 1600px) {
  .hs5-ib-slider-box .hs5-ib-slider-box-left div + div {
    margin-bottom: 0px;
  }
}
@media (max-width: 1399px) {
  .hs5-ib-slider-box .hs5-ib-slider-box-left div + div {
    margin-bottom: 0px;
  }
}
.hs5-ib-slider-box .hs5-ib-slider-box-left .hs5-ib-sbr-img {
  display: none;
  position: absolute;
  right: -58%;
  top: 0%;
  height: 78vh;
  border-radius: 16px;
  width: 37%;
}
@media (min-width: 1400px) {
  .hs5-ib-slider-box .hs5-ib-slider-box-left .hs5-ib-sbr-img {
    height: 75vh;
    top: 0%;
    right: -72%;
  }
}
@media (min-width: 1600px) {
  .hs5-ib-slider-box .hs5-ib-slider-box-left .hs5-ib-sbr-img {
    height: 80vh;
    top: -8%;
    right: -72%;
  }
}
@media (max-width: 1199px) {
  .hs5-ib-slider-box .hs5-ib-slider-box-left .hs5-ib-sbr-img {
    height: 72vh;
  }
}
.hs5-ib-slider-box .hs5-ib-slider-box-left .is-current .circle-count {
  background-color: #f9f6f2;
  color: #1c1b1f;
}
.hs5-ib-slider-box .hs5-ib-slider-box-left .is-current div {
  opacity: 1;
  color: #f9f6f2;
}
.hs5-ib-slider-box .hs5-ib-slider-box-left .is-current .hs5-ib-sbr-img {
  display: block;
}
.hs5-ib-slider-box .hs5-ib-slider-box-right {
  padding-left: 37px;
  width: 35%;
  margin-left: auto;
  visibility: hidden;
}
.hs5-ib-slider-box .hs5-ib-slider-box-right .hs5-ib-sbr-img {
  border-radius: 8px;
  height: auto;
}
@media (min-width: 1600px) {
  .hs5-ib-slider-box .hs5-ib-slider-box-right .hs5-ib-sbr-img {
    height: 80vh;
  }
}

.hs5-ib-slider-box .hs5-ib-slider-box-left div.is-current {
  opacity: 1;
  color: #fff;
}

.is-current .activeCount {
  background-color: #fff;
  color: #000;
  border: 1px solid #fff;
}
@media screen and (max-width: 1040px) {
  .hs5-ib-slider-box .hs5-ib-slider-box-left {
    width: 64%;
  }
}

section {
  padding-bottom: 100px;
}
.faq-sticky {
  position: sticky;
  top: 119px;
}
.faq-current .faqHide {
  display: block;
  position: absolute;
  right: 110px;
  margin-top: -20px;
}
@media screen and (max-width: 860px) {
  .faq-current .faqHide {
    right: 81px;
  }
}
.faqHide {
  display: none;
}
.creatorSubmit:hover {
  box-shadow: unset !important;
}
@media screen and (max-width: 600px) {
  .creatorSubmit {
    width: 100%;
    margin: 30px auto !important;
  }
}
.css-1nzzf8a-MuiFormHelperText-root.Mui-error {
  position: absolute;
  bottom: -18px;
}
.css-o4b71y-MuiAccordionSummary-content {
  margin: 0 0 !important;
}
@media screen and (max-width: 1440px) {
  .mainChild {
    margin: 0 auto;
    max-width: 1350px;
  }
}
