* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}
.Typewriter {
  padding: 1px;
  color: #1c1b1f;

  font-weight: 700;
}
@media screen and (min-width: 1300px) {
  .Typewriter {
    font-size: 54px !important;
  }
}
@media screen and (max-width: 1299px) {
  .Typewriter {
    font-size: 42px;
  }
}
@media screen and (max-width: 1199px) {
  .Typewriter {
    font-size: 40px;
  }
}
@media screen and (max-width: 899px) {
  .Typewriter {
    font-size: 42px;
  }
}
@media screen and (max-width: 599px) {
  .Typewriter {
    font-size: 34px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.marq-right {
  color: rgb(28, 27, 31);
  opacity: 0.5;
  transform: rotate(90deg);
  position: absolute !important;
  transform-origin: top right;
  right: 0px;
  bottom: 0px;
  width: 660px !important;
  z-index: 0;
}
.marq-left {
  color: rgb(28, 27, 31);
  opacity: 0.5;
  transform: rotate(-90deg);
  position: absolute !important;
  transform-origin: top left;
  left: 0px;
  bottom: 0px;
  width: 660px !important;
  z-index: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 320px) {
  .marq-left {
    width: 1300px !important;
  }
  .marq-right {
    width: 1300px !important;
  }
}
@media only screen and (min-width: 375px) {
  .marq-left {
    width: 1170px !important;
  }
  .marq-right {
    width: 1170px !important;
  }
}
@media only screen and (min-width: 412px) {
  .marq-left {
    width: 1145px !important;
  }
  .marq-right {
    width: 1145px !important;
  }
}
@media only screen and (min-width: 425px) {
  .marq-left {
    width: 1090px !important;
  }
  .marq-right {
    width: 1090px !important;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .marq-left {
    width: 1150px !important;
  }
  .marq-right {
    width: 1150px !important;
  }
}
@media only screen and (min-width: 768px) {
  .marq-left {
    width: 1080px !important;
  }
  .marq-right {
    width: 1080px !important;
  }
}
@media only screen and (min-width: 992px) {
  .marq-left {
    width: 950px !important;
  }
  .marq-right {
    width: 950px !important;
  }
}
@media only screen and (min-width: 1200px) {
  .marq-left {
    width: 640px !important;
    left: -2px;
  }
  .marq-right {
    width: 640px !important;
    right: -2px;
  }
}

.demo {
  display: none;
}
.active .demo {
  display: block;
  position: absolute;
  right: 104px;
  padding: 3px 0 0;
}
@media screen and (max-width: 900px) {
  .active .demo {
    right: 31px;
  }
}
.hs5-ib-slider-box {
  display: flex;
  align-items: flex-start;
  z-index: 4;
  position: relative;
  padding: 60px 20px 50px 20px;
}
.scrollFaq {
  display: flex;
}
@media (min-width: 1600px) {
  .hs5-ib-slider-box {
    padding: 30px 44px 68px 37px;
  }
  .hs5-ib-slider-box .hs5-ib-slider-box-left .hs5-ib-sbr-img {
    width: 24vw !important;
    height: 80vh !important;
  }
}
@media (max-width: 1440px) {
  .hs5-ib-slider-box .hs5-ib-slider-box-left .hs5-ib-sbr-img {
    width: 24vw !important;
    height: 80vh !important;
  }
}
@media (min-width: 1400px) {
  .hs5-ib-slider-box {
    padding-right: 164px;
  }
}
@media (max-width: 991px) {
  .hs5-ib-slider-box {
    flex-direction: column;
    width: 80%;
    height: auto;
    padding: 60px 30px 60px 60px;
  }
}
@media (max-width: 767px) {
  .hs5-ib-slider-box {
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 30px 10px 30px 10px;
  }
  .hs5-ib-slider-box.hs5ibsb-brand-mv {
    height: auto;
  }
  .hs5-ib-slider-box.hs5ibsb-creator-mv {
    height: auto;
  }
}
.hs5-ib-slider-box .hs5-ib-slider-box-left {
  width: 61%;
  height: 50vh;
  position: -webkit-sticky;
  position: sticky;
  top: 125px;
  margin-top: 0px;
  margin-bottom: 0;
  padding-left: 0;
}
@media (min-width: 1400px) {
  .hs5-ib-slider-box .hs5-ib-slider-box-left {
    height: 75vh;
    top: 130px;
  }
}
@media (min-width: 1600px) {
  .hs5-ib-slider-box .hs5-ib-slider-box-left {
    height: 80vh;
    top: 116px;
  }
}
.hs5-ib-slider-box .hs5-ib-slider-box-left .circle-count {
  width: 50px;
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  background-color: rgb(249, 246, 242);
}
.hs5-ib-slider-box .hs5-ib-slider-box-left div.is-current {
  opacity: 1;
  color: #fff;
}

.hs5-ib-slider-box .hs5-ib-slider-box-left div {
  color: #f9f6f2;
  opacity: 0.6;
  font-weight: 600 !important;
}
@media (max-width: 1440px) {
  .hs5-ib-slider-box .hs5-ib-slider-box-left div {
    margin-bottom: 40px;
  }
}
@media (max-width: 1199px) {
  .hs5-ib-slider-box .hs5-ib-slider-box-left div {
    font-size: 30px !important;
  }
}
@media (min-width: 1600px) {
  .hs5-ib-slider-box .hs5-ib-slider-box-left div.MuiBox-root {
    margin-top: 85px !important;
  }
}
@media (min-width: 1600px) {
  .hs5-ib-slider-box .hs5-ib-slider-box-left div {
    margin-bottom: 0px;
  }
}
@media (min-width: 1600px) {
  .hs5-ib-slider-box .hs5-ib-slider-box-left div + div {
    margin-bottom: 0px;
  }
}
@media (max-width: 1399px) {
  .hs5-ib-slider-box .hs5-ib-slider-box-left div + div {
    margin-bottom: 0px;
  }
}
.hs5-ib-slider-box .hs5-ib-slider-box-left .hs5-ib-sbr-img {
  display: none;
  position: absolute;
  right: -58%;
  top: -17%;
  height: 80vh;
  border-radius: 16px;

  width: 24vw !important;
  height: 80vh !important;
}
@media (min-width: 1020px) {
  .hs5-ib-slider-box .hs5-ib-slider-box-left .hs5-ib-sbr-img {
    top: 0%;
    width: 280px !important;
    height: 80vh !important;
    right: -65%;
  }
}
@media (min-width: 1400px) {
  .hs5-ib-slider-box .hs5-ib-slider-box-left .hs5-ib-sbr-img {
    top: 0%;
    right: -72%;
    width: 370px !important;
    height: 80vh !important;
  }
}
@media (min-width: 1600px) {
  .hs5-ib-slider-box .hs5-ib-slider-box-left .hs5-ib-sbr-img {
    top: -20%;
    right: -72%;
    width: 370px !important;
    height: 78vh !important;
  }
}

.hs5-ib-slider-box .hs5-ib-slider-box-left .is-current .circle-count {
  background-color: #f9f6f2;
  color: #1c1b1f;
}
.hs5-ib-slider-box .hs5-ib-slider-box-left .is-current div {
  opacity: 1;
  color: #f9f6f2;
}
.hs5-ib-slider-box .hs5-ib-slider-box-left .is-current .hs5-ib-sbr-img {
  display: block;
}
.hs5-ib-slider-box .hs5-ib-slider-box-right {
  padding-left: 37px;
  width: 35%;
  margin-left: auto;
  visibility: hidden;
}
.hs5-ib-slider-box .hs5-ib-slider-box-right .hs5-ib-sbr-img {
  border-radius: 8px;
  height: auto;
}
@media (min-width: 1600px) {
  .hs5-ib-slider-box .hs5-ib-slider-box-right .hs5-ib-sbr-img {
    height: 80vh;
  }
}

.hs5-ib-slider-box .hs5-ib-slider-box-left div.is-current {
  opacity: 1;
  color: #fff;
}

.is-current .activeCount {
  background-color: #fff;
  color: #000;
  border: 1px solid #fff;
}
@media screen and (max-width: 1040px) {
  .hs5-ib-slider-box .hs5-ib-slider-box-left {
    width: 64%;
  }
}

section {
  padding-bottom: 100px;
}
.faq-sticky {
  position: sticky;
  top: 167px;
}

@media screen and (max-width: 780px) {
  .faq-sticky {
    margin-top: -55px;
    padding-bottom: 100px;
  }
}

.faq-current .faqHide {
  display: block;
  position: absolute;
  margin-left: 90px;
  margin-top: -20px;
}
@media screen and (max-width: 860px) {
  .faq-current .faqHide {
    right: 65px;
  }
}
.faqHide {
  display: none;
}
.creatorSubmit:hover {
  box-shadow: unset !important;
}
@media screen and (max-width: 600px) {
}
.css-1nzzf8a-MuiFormHelperText-root.Mui-error {
  position: absolute;
  bottom: -18px;
}
.css-o4b71y-MuiAccordionSummary-content {
  margin: 0 0 !important;
}
@media screen and (max-width: 1440px) {
  .mainChild {
    margin: 0 auto;
    max-width: 1350px;
  }
}

.css-xf64eu-MuiButtonBase-root-MuiButton-root:hover {
  background-color: #000000 !important;
}

.css-rg85wt-MuiButtonBase-root-MuiButton-root:hover {
  border-color: #000000 !important;
}

@media screen and (max-width: 320px) {
  .css-gj4fys {
    height: 225px !important;
    width: 280px !important;
  }
}

@media screen and (min-width: 400px) and (max-width: 500px) {
  .css-gj4fys {
    height: 158px !important;
    width: 183px !important;
  }
}
@media screen and (min-width: 600px) and (max-width: 770px) {
  .css-gj4fys {
    height: 120px !important;
    width: 119px !important;
  }
}

.css-1nt95lj-MuiButtonBase-root-MuiButton-root.Mui-disabled {
  background-color: #a4a4a5;
}

.css-o2z3qx-MuiButtonBase-root-MuiButton-root.Mui-disabled {
  background-color: #a4a4a5;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled {
  -webkit-text-fill-color: rgb(0, 0, 0) !important;
}

.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon.Mui-disabled {
  color: rgba(0, 0, 0, 0.54) !important;
}
.css-5o1x4w-MuiButtonBase-root-MuiButton-root.Mui-disabled {
  background-color: #a4a4a5;
}

.detail-page-current {
  color: #313131;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: 0.5rem;

  transition: background-color 0.2s ease-in-out;
}
.detail-page-current a div {
  background-color: #000 !important;
}
.app__navigation-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #cbcbcb;
  margin-top: 0.5rem;

  transition: background-color 0.2s ease-in-out;
}

.app__navigation-dot:hover {
  background-color: #000;
}
.list_unorder {
  list-style-type: none;
}
.swiper-pagination-bullet-active {
  background-color: #000 !important;
}

.pswp__img {
  object-fit: contain;
  background-color: black;
  object-position: center;
}

.pswp__item {
  background-color: black !important;
  height: "100%" !important;
  width: "100%" !important;
}

.pswp--ui-visible {
  background-color: black !important;
  height: "100%" !important;
  width: "100%" !important;
}
.pswp__icn-shadow .pswp__icn {
  background-color: black !important;
}
.pswp--touch .pswp__button--arrow {
  visibility: visible !important;
}
.positionProperty {
  position: relative !important;
}
.orangeMeshesBox {
  position: absolute;
  right: 0;
  width: auto;
  z-index: 0;
}
.pinkMeshesBox {
  position: absolute;
  left: 0;
  width: auto;
  z-index: 0;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image-loaded {
  opacity: 1;
}

li {
  list-style-type: none;
}
